@charset "UTF-8";
*{ box-sizing: border-box; }
body {
    min-width: 640px;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;
}
/* header */
header{
    width: 100%;
    position: fixed; 
    /* position:fixed를 하면 body를 따라가는데, aos 애니메이션을 넣어주면 body가 변형*/
    /* sub_menu가 열렸을 때 헤더도 사라지지 않도록 걍 fixed 해줌 */
}
header .topLogo{
    margin: 0 auto;
}

/* mobile menu button */
.mMenubt{
    display: block;
    width: 50px;
    height: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 90;
}
.mMenubt span{
    display: block;
    position: absolute;
    height: 8px;
    width: 100%;
    background: #332F25;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.mMenubt span:nth-child(1){
    top: 0px;
}
.mMenubt span:nth-child(2),
.mMenubt span:nth-child(3){
    top: 18px;
}
.mMenubt span:nth-child(4){
    top: 36px;
}
.mMenubt.open span{
    background: #332F25;
}
.mMenubt.open span:nth-child(1){
    top: 18px;
    width: 0%;
    left: 50%;
}
.mMenubt.open span:nth-child(2){
    transform: rotate(45deg);
}
.mMenubt.open span:nth-child(3){
    transform: rotate(-45deg);
}
.mMenubt.open span:nth-child(4){
    top: 18px;
    width: 0%;
    left: 50%;
}
/* nav */
nav{
    width: 100%;
    height: 100%;
    line-height: 50px;
    top: 90px;
    background: #332F25;
    display: none;
}
nav ul.gnb{
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    padding: 50px 10% 0;
    color: #fff;
}
nav ul.gnb .gnbMenu{
    width: 100%;
    color: #fff;
}
nav ul.gnb .gnbMenu .title{
    display: block;
    float: left;
    width: 30%;
    font-size: 1.2em;
}

/* moble ver sub menu */
nav ul.gnb .gnbMenu .mSnb{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
}
nav ul.gnb .gnbMenu .mSnb li{
    margin: 0 0 0 30px;
}
nav ul.gnb .gnbMenu .mSnb a{
    color: #fff;
}
nav ul.gnb .gnbMenu .mSnb a:visited{
    color: #fff;
}

/* PC ver sub menu */
nav.displayOn .subMenu{
    display: none !important;
}
.displayOn{
    display: block;
}

section{
    height: 1600px;
}
/* section01 */
section.section01 {
    height: 2500px;
    background-size: 450px 470px;
    background-position: -54% 3%;
}
div.sub_title {
    padding: 100px 100px 50px;
    font-size: 1.3em;
}

/* 백그라운드 span 감추기 */
div.backSpan span {
    display: none;
}
.colorB{
    width: 60%;
    height: auto;
    background: #e5d7aa;
    padding: 3% 2%;
    margin: 15px 50px;
}
.colorB .borderB{
    padding: 5% 2%;
}
.colorB .borderB .box_p{
    width: 90%;
    height: 200px;
    background-size: cover;
}
.colorB .borderB .box_c{
    padding: 8% 3% 3%;
}
.colorB .borderB .box_c span::before{
    width: 20px;
    height: 3px;
    content: "";
    background: #000;
    display: block;
    position: absolute;
    left: 3%;
    top: 9px;
}
.colorB.blue .borderB .box_p{
    width: 90%;
    height: 200px;
    background-size: cover;
}
.colorB.right.blue .borderB .box_p{
    width: 90%;
    height: 200px;
    background-size: cover;
}

/* section02 */
section.section02{
    height: 850px;
}
section.section02 .sub_title, 
section.section03 .sub_title{
    padding: 50px 0;
}
ul.container{
    width: 90%;
}
ul.container li span.ex{
    width: 65%;
    height: 100%;
    padding: 3px 20px;
    text-align: left;
    font-size: 0.9em;
    background: #e5d7aa;
}

/* section03 */
section.section03{
    height: 1460px;
}
.lrAlign{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.map .root_daum_roughmap_landing{
    z-index: 0;
}
section.section03 .map_addr{
    margin: 20px 0 0 0;
}
section.section03 table{
    width: 95%;
    margin-top: 60px;
}

/* top button */
button.topbt{
    display: block;
    width: 30px;
    height: 30px;
    color: #000;
    background: #fff;
    outline: none;
    border: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 0;
    z-index: 80;
}
