@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:900&display=swap&subset=korean');

*{box-sizing: border-box;}
body{
    padding: 0px;
    margin: 0px;
    letter-spacing: -0.05em;
    background: #002D64;
    min-width: 1280px;
    font-size: 20px;
}
ul,
li{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    text-decoration: unset;
}

/* section screen */
.screen{
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    background: url("../images/_Photo by Liona Toussaint on Unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header{
    width: 100%;
    height: 30px;
}
.inner{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
header .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}
header select,
header .global button{
    height: 30px;
    display: inline-flex;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    cursor: pointer;
    padding: 3px;
    font-family: 'Noto Sans KR', sans-serif;
}
header select option{
    color: #000;
}

/* sub_Menu (mobile) */
.nav-icon,
.sub_menu{
    display: none;
}
div.logo{
    width: 450px;
    height: 145px;
    background: url("../images/KAC_logo.png") 50% 0% no-repeat;
    background-size: 100%;
    margin: 0 auto 20px;
    cursor: pointer;
}
div.title{
    font-size: 2em;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}
div.home:hover div.logo{
    background: url("../images/KAC_logo.png") 50% 100% no-repeat;
    background-size: 100%;
}
div.home a:visited{
    color: #fff;
}
div.object{
    width: 219px;
    height: 202px;
    margin: 45px auto 20px;
    background: url("../images/object1.png") 50% 50% no-repeat;
    background-size: 100%;
}
div.info{
    font-size: 0.8em;
    color: #f2f2f3;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
div.info span{
    display: block;
    margin: 7px 0 0 0;
    font-family: 'Noto Sans KR', sans-serif;
}
div.scrollDown{
    display: inline-block;
    letter-spacing: 0;
    color: #fff;
    margin: 25px 0 0 0;
}
.arrow{
    width: 50px;
    height: 50px;
    margin: 0 auto -34px;
    background: url("../images/airplane_icon.png") 50% 50% no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.arrow::after{
    width: 2px;
    height: 50px;
    display: block;
    content: "";
    background: #f2f2f3;
    margin: 50px auto;
}

/* section bottom */
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 30px auto;
    padding: 40px 0;
    border-radius: 20px;
    position: relative;
    overflow: visible;
    font-family: 'Noto Sans KR', sans-serif;
    background: rgba(230, 230, 235, 0.5);
}
.bottom .line,
.bottom .line2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin: 30px;
    position: relative;
}
.bottom .line span,
.bottom .line2 span{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 20px;
    color: #fff;
    text-shadow: 0px 0px 0.5px rgba(255, 255, 255, 0.5);
    position: absolute;
    top: -20px;
}
.box{
    width: 15%;
    min-width: 100px;
    height: 230px;
    min-height: 230px;
    border-radius: 5px;
    background: #fff;
    margin: 80px 5px 0 5px;
    border: 1px solid #ccc;
}
.box:first-child{
    margin: unset;
}
.line .box .photo{
    width: 90%;
    height: 70%;
    margin: 10px auto 3px;
    background: url("../images/airport/gimpo.jpg") 50% 50% no-repeat;
    background-size: 160%;
}
.line .box:nth-child(2) .photo{
    background: url("../images/airport/gimhae.jpg") 50% 50% no-repeat;
    background-size: 160%;
}
.line .box:nth-child(3) .photo{
    background: url("../images/airport/jeju.jpg") 50% 50% no-repeat;
    background-size: 160%;
}
.line .box:nth-child(4) .photo{
    background: url("../images/airport/daegu.jpg") 50% 50% no-repeat;
    background-size: 160%;
}
.line .box:nth-child(5) .photo{
    background: url("../images/airport/cheongju.jpg") 50% 50% no-repeat;
    background-size: 160%;
}
.line .box:nth-child(6) .photo{
    background: url("../images/airport/muan.jpg") 50% 50% no-repeat;
    background-size: 160%;
}
.line .box:nth-child(7) .photo{
    background: url("../images/airport/yangyang.jpg") 50% 50% no-repeat;
    background-size: 160%;
}
.line2 .box .photo{
    width: 90%;
    height: 70%;
    margin: 10px auto 3px;
    background: url("../images/airport/ulsan.jpg") 50% 50% no-repeat;
    background-size: 160%;
}
.line2 .box:nth-child(2) .photo{
    background: url("../images/airport/gwangju.jpg") 50% 50% no-repeat;
    background-size: 160%;
}
.line2 .box:nth-child(3) .photo{
    background: url("../images/airport/yeosu.jpg") 50% 50% no-repeat;
    background-size: 160%;
}
.line2 .box:nth-child(4) .photo{
    background: url("../images/airport/pohang.jpg") 50% 50% no-repeat;
    background-size: 160%;
}
.line2 .box:nth-child(5) .photo{
    background: url("../images/airport/sacheon.jpg") 50% 50% no-repeat;
    background-size: 160%;
}
.line2 .box:nth-child(6) .photo{
    background: url("../images/airport/gunsan.jpg") 50% 50% no-repeat;
    background-size: 160%;
}
.line2 .box:nth-child(7) .photo{
    background: url("../images/airport/wonju.jpg") 50% 50% no-repeat;
    background-size: 170%;
}
.box .name{
    width: 90%;
    margin: 10px auto;
    height: 30px;
    line-height: 30px;
    font-size: 0.9em;
    font-weight: 600;
    color:#333;
}
.box a:visited{
    color:#333;
}
.box:hover{
    margin-top: 30px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
    transition: all .2s ease-in-out;
}

/* footer */
footer{
    width: 100%;
    height: 150px;
    background: #333;
    font-size: 0.6em;
    font-family: 'Noto Sans KR', sans-serif;
    color: #ccc;
    z-index: 20;
}
.footerRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0 0 0;
}
.footer .menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}
.footer .menu ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.footer .menu ul li{
    margin: 0 50px 0 0;
    position: relative;
}
.footer .menu ul li:last-child{
    margin: unset;
}
.footer .menu ul li::after{
    width: 1px;
    height: 50%;
    background: #ccc;
    display: block;
    content: "";
    position: absolute;
    top: 8px;
    right: -25px;
}
.footer .menu ul li:last-child::after{
    display: none;
}
.footer .menu span{
    text-align: left;
}
.footer .menu span:nth-child(2){
    margin: 10px 0 0 0;
}
.footer a{
    color: #ccc;
}
.footer a:visited{
    color: #ccc;
}
.footer a:hover{
    border-bottom: 1px solid #ccc;
    transition: all .2s ease-out;
}
.footerLogo{
    width: 300px;
    height: 30px;
    background: url("../images/KAC_korean.png") 96% 50% no-repeat;
    background-size: 50%;
}
button.topbt{
    width: 40px;
    height: 40px;
    line-height: 36px;
    position: fixed;
    bottom: 1.5%;
    right: 1.5%;
    border: 2px solid #004566;
    background: #f2f2f3;
    color: #004566;
    font-size: 0.5em;
    font-weight: 900;
    outline: none;
    cursor: pointer;
    z-index: 10;
}
button.topbt:hover{
    background: #004566;
    color: #f2f2f3;
    border-color: #f2f2f3;
}

@media screen and (min-width:800px) and (max-width:1280px){
    .arrow{
        top: -200px;
    }
    .arrow::after{
        width: 2px;
        height: 110px;
    }
}